.motto{ /* Styling for motto on the top of page */
    text-align: center;
    min-height: 10px;
}

.Homepage{ /* Container for the whole page */
    display: grid;
    justify-content :center;
    flex-direction: column;
    text-align: center;
    background-color: #E35505;
}

.search-item{ /* Styling for search bar */
    min-height: 25px;
    min-width: 400px;
    margin-right: 20px;
}

.info-text{ /* Styling for instructions */
    padding-bottom: 50px;
}

